{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>
<hr>
<p>Tempora mori, tempora mundis recorda. Voilà, eh ben ça par exemple, ça ne veut absolument rien dire, mais l’effet reste le même…Ave Cesar, rosae rosam, et spiritus rex ! Ah non, parce que là, j’en ai marre !Victoriae mundis et mundis lacrima . Bon, ça ne veut absolument rien dire, mais je trouve que c’est assez dans le ton.Missa brevis et spiritus maxima. Ça ne veut rien dire, mais je suis très en colère contre moi-même Odi panem quid meliora . Ça veut rien dire, mais je trouve que ça boucle bien. Et là, normalement, il me faut une citation latine, mais pfff… j’en ai marre</p>
<p>Tempora mori, tempora mundis recorda. Voilà, eh ben ça par exemple, ça ne veut absolument rien dire, mais l’effet reste le même…Ave Cesar, rosae rosam, et spiritus rex ! Ah non, parce que là, j’en ai marre !Victoriae mundis et mundis lacrima . Bon, ça ne veut absolument rien dire, mais je trouve que c’est assez dans le ton.Missa brevis et spiritus maxima. Ça ne veut rien dire, mais je suis très en colère contre moi-même Odi panem quid meliora . Ça veut rien dire, mais je trouve que ça boucle bien. Et là, normalement, il me faut une citation latine, mais pfff… j’en ai marre</p>

{% endblock %}
